<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Linear Regression and Outlier Detection</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.navbar {
			margin-bottom: 30px;
		}

		.container {
			margin-top: 30px;
		}

		@media (max-width: 767px) {
			.container {
				margin-top: 0;
			}
		}
	</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light transparent-bg">
  <a class="navbar-brand" href="#">Linear Regression and Outlier Detection</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#technologies">Technologies Used</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#installation">Installation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#architecture">Architecture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#algorithm">Algorithm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ui-ux">UI/UX</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contributors">Contributors</a>
      </li>
    </ul>
  </div>
</nav>

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Linear Regression and Outlier Detection</h1>
      <p>A web application that implements linear regression and outlier detection techniques on various datasets. It provides a user-friendly interface for selecting datasets, customizing regression parameters, and generating scatter plots with regression lines. The application also highlights any detected outliers in the plots.</p>

      <h2 id="features">Features</h2>
      <ul>
        <li>Perform linear regression on multiple datasets</li>
        <li>Detect and visualize outliers in the scatter plots</li>
        <li>Customize plot colors for background, regression line, and outliers</li>
        <li>Generate a downloadable PDF report summarizing the analysis</li>
      </ul>

      <h2 id="technologies">Technologies Used</h2>
      <ul>
        <li>Python</li>
        <li>Flask (web framework)</li>
        <li>Matplotlib (plotting library)</li>
        <li>Pandas (data manipulation library)</li>
        <li>Scikit-learn (machine learning library)</li>
        <li>ReportLab (PDF generation library)</li>
      </ul>

      <h2 id="installation">Installation</h2>
      <ol>
        <li>Clone the GitHub repository:<br>
          <code>git clone https://github.com/ANUJDWIVDI/ai-mini-proj</code></li>
      </ol>

      <h2 id="architecture">Architecture</h2>
      <p>The web application is built using Flask, a Python web framework. The user interface is designed using HTML/CSS/JavaScript, and the server-side scripts are written in Python. Data processing is done using Pandas, and the machine learning algorithms are implemented using scikit-learn.</p>

      <h2 id="algorithm">Algorithm</h2>
      <p>The web application implements linear regression and allows users to select the datasets and customize regression parameters. The results are displayed in a scatter plot, which can be downloaded as a PNG file.</p>

      <h2 id="ui-ux">UI/UX</h2>
      <p>The user interface is designed using Bootstrap and custom CSS. The application uses jQuery for dynamic content loading and AJAX requests.</p>

      <h2 id="contributors">Contributors</h2>
      <ul>
        <li>Anuj Dwivedi (@ANUJDWIVDI)</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="static/assets-img/3d-fluency-python.png" class="img-fluid">
    </div>
  </div>
</section>

<footer class="bg-light mt-5 py-3">
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
